{% extends 'main/layout.html' %}

{% block title %}ABOUT GOYARD{% endblock %}

{% block content %}
<body>

    <header>
        <h1>About Goyard</h1>
    </header>

    <section>
        <h2>Our History</h2>
        <p>
            Goyard, founded in 1853 by François Goyard, has a rich history of craftsmanship
            and dedication to luxury. Explore the journey of Goyard and its iconic creations.
        </p>
    </section>

    <section>
        <h2>Craftsmanship</h2>
        <p>
            Every Goyard product is a testament to the art of craftsmanship. Discover the
            intricate details and timeless techniques that make each piece unique.
        </p>
    </section>

    <section>
        <h2>Tradition and Elegance</h2>
        <p>
            Goyard embodies a tradition of elegance that has stood the test of time.
            Explore our commitment to sophistication and style.
        </p>
    </section>

    <section>
        <h2>Our Values</h2>
        <p>
            At Goyard, we uphold values of quality, exclusivity, and passion. Learn about
            the principles that define our brand and inspire our creations.
        </p>
    </section>

    <section>
        <h2>Global Presence</h2>
        <p>
            With a global presence, Goyard has captivated the hearts of luxury enthusiasts
            around the world. Explore our international footprint and the Goyard experience.
        </p>
    </section>

    <footer>

    </footer>

</body>
{% endblock %}


